# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
print("Data", "Science", "Mentorship", "Program", sep = "-", end = "-")
print("By", "CampusX", sep = "-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
#°F = (°C * 9/5) + 32.
a = float(input("Enter Temp in Celsius:\n"))
f = (a * 9/5) + 32

print(f)

Enter Temp in Celsius:
36.5
97.7

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
a = int(input("Enter 1st:\n"))
b = int(input("Enter 2nd:\n"))

temp = a
a = b
b = temp
print(a,b)

Enter 1st:
4543
Enter 2nd:
43
43 4543

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
print("Enter x1 & y1")
x1 = int(input("Enter x1:\n"))
y1 = int(input("Enter y1:\n"))

print("Enter x2 & y2")
x2 = int(input("Enter x2:\n"))
y2 = int(input("Enter y2:\n"))

e = ((x2 - x1)**2 + (y2 - y1)**2)**0.5

print(e)

Enter x1 & y1
Enter x1:
6
Enter y1:
5
Enter x2 & y2
Enter x2:
8
Enter y2:
9
4.47213595499958

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
#A = p(1+rt)

p = float(input("Enter Principle: "))
r = float(input("Enter rate: "))
i = float(input("Enter time: "))

a = p *(1 + (r *i))

print(a)

Enter Principle: 500000
Enter rate: 8
Enter time: 40
160500000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [16]:
heads = int(input("Enter the total number of heads: "))
legs = int(input("Enter the total number of legs: "))

solution_found = False  # Flag to track if a solution is found

for chickens in range(heads + 1):
    dogs = heads - chickens
    if (2 * chickens) + (4 * dogs) == legs:
        print(f"Number of chickens: {chickens}")
        print(f"Number of dogs: {dogs}")
        solution_found = True
        break  # Exit the loop once a solution is found

if not solution_found:
    print("No solution exists for the given input.")

Enter the total number of heads: 30
Enter the total number of legs: 100
Number of chickens: 10
Number of dogs: 20

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
n = int(input("Enter the value of n: "))

if n <= 0:
    print("The sum of squares is 0 for non-positive n.")
else:
    total_sum = 0
    for i in range(1, n + 1):
        total_sum += i * i  # or total_sum += i ** 2
    print(f"The sum of squares of the first {n} natural numbers is: {total_sum}")

Enter the value of n: 6
The sum of squares of the first 6 natural numbers is: 91

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [11]:
n = int(input("Number of terms:\n"))
n1 =  int(input("enter n1:\n"))
n2 =  int(input("enter n2:\n"))

D = n2 - n1

ct = n1
for i in range(n-1):
  ct += D

print(ct)

Number of terms:
4
enter n1:
5
enter n2:
7
11

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [14]:
n1 = int(input("enter numenator for n1:\n"))
d1 = int(input("enter Deno for n1:\n"))
n2 = int(input("enter numenator for n2:\n"))
d2 = int(input("enter deno for n2:\n"))
"""
sum = (n1/d1) + (n2/d2)
print(sum)
"""

lcm = d1 * d2

nn1 = d1*n2
nn2 = d2*n1

sum = nn1 + nn2
print(f"sum{sum}/{lcm}")

enter numenator for n1:
5
enter Deno for n1:
6
enter numenator for n2:
5
enter deno for n2:
6
sum60/36

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [15]:
l = int(input("Length:\n"))
b = int(input("breath:\n"))
h = int(input("height:\n"))

r = int(input("Length:\n"))
hc = int(input("height of glass:\n"))

glasses = (l*b*h) / ((22/7)* r**2 * hc)
print(glasses)

Length:
10
breath:
10
height:
45
Length:
3
height of glass:
4
39.77272727272727